<nav class="navbar"> <li class="nav-item">
        <a class="nav-link title" href="/">Artistry AI</a>
      </li>   
    <ul class="nav-list">
     
      <li class="nav-item">
        <a class="nav-link" href="/canvases">View Canvases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/canvases/new">Create New Canvas</a>
      </li>  <li class="nav-item">
        <a class="nav-link" href="/auth/profile">User Profile</a>
      </li>
    </ul>

  </nav>