/* /////////////////////////// */
/* Resets */
/* /////////////////////////// */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
/* /////////////////////////// */
/* Basic styles */
/* /////////////////////////// */
body {
  box-sizing: border-box;
  background-color: #2b2b2b;
  color: #f2f2f2;
}
/* /////////////////////////// */
/* Typography */
/* /////////////////////////// */
h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin: 4rem 0;
  padding-top: 6rem;
  text-transform: capitalize;
}

h2 {
  font-size: 2rem;
}

/* /////////////////////////// */
/* Navigation */
/* /////////////////////////// */
.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: #222222;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  /* background-color: blue; */
}
.navbar .title {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-right: 2rem;
}

.nav-link {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.nav-link:hover {
  color: #3498db;
  text-decoration: underline;
}

#welcome-user {
 position: relative;
 left: 6%;
  font-size: 2rem;
}

/* General form styling */
form {
  width: 80%;
  max-width: 50rem;
  margin: 0 auto 2rem;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #222222;
}

label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: #f2f2f2;
}

input,
select {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #2b2b2b;
  color: #f2f2f2;
}

input:focus,
select:focus {
  outline: none;
  border-color: #3498db;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #f2f2f2;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

/* /////////////////////////// */
/* Landing Page */
/* /////////////////////////// */
#landing .bg {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.9) 20%,

      rgba(0, 0, 0, 0.8) 40%,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("/images/hero-surreal.webp");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100svh;
}
#landing .text {
  position: absolute;
  top: 60%;
  left: 32.5%;
  transform: translate(-50%, -50%);
  width: 50%;

  padding: 1.5rem;
}
#landing .title {
}
#landing .description {
  font-size: 1.75rem;
  line-height: 3rem;
}

/* /////////////////////////// */
/* Canvas Show Page */
/* /////////////////////////// */
.canvas-show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;

  /* height: 80vh; */
}

.canvas-show-item {
  width: 80%;
  max-width: 50rem;
  padding: 1.5rem;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 7px 0px rgba(52, 152, 219, 1);

  border-radius: 8px;
  background-color: #222222;
}
.show-container.edit {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.show-container.edit form {
  margin: 0;
}

/* /////////////////////////// */
/* sidebar */
/* /////////////////////////// */
.sidebar {
  position: fixed;
display: flex;
flex-direction: column;
justify-content: start;
  /* height of the navbar */
  top: 5rem;
  left: 0;
  width: 10%;
  min-width: 10rem;
  height: 100svh;
  background-color: rgba(11, 11, 11, 0.699);
  transform: translateX(0);
  transition: 0.3s all ease;

}
.sidebar h3 {
text-align: center;
  padding-top:3rem;
  font-size: 1.75rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}
.sidebar form {
  margin: 2rem auto;
  padding:3px 3px 10px 3px;
  font-size: 1rem;
  text-align: center;
  border: none;
}

.sidebar.hide {
  transform: translateX(-120%);
}

.sidebar span {
  position: absolute;
 
font-size: 1.5rem;
  right: -25rem;
  top:1.5rem;

}
.hamburger-container {
  position: absolute;
  width: 25px;
  height: 25px;

  right: -14rem;
  top:1rem;
  cursor: pointer;
}
.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  width: 25px;
  height: 2px;
  transition: 0.3s all ease;
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  background-color: #f2f2f2;
  width: 25px;
  height: 2px;
  transition: 0.3s all ease;
}

.bar::before {
  top: -6px;
}
.bar::after {
  top: 6px;
}

/* Rotate bars when .close class is added */
.bar.close::before {
  transform: rotate(45deg);
  top: 0;
}

.bar.close::after {
  transform: rotate(-45deg);
  top: 0;
}

.bar.close {
  background-color: transparent; /* Hide the middle bar */
}

/* /////////////////////////// */
/* btns */
/* /////////////////////////// */
.btn-container {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.btn-container form {
  margin: 0;
  padding: 0;
  border: none;
}

.btn, .sidebar-btn {
  position: relative;
  /* width: 50%; */
  min-width: 8rem;
  background-color: #222222;
  color: #f2f2f2;
  border: solid 1px #ddd;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;

  box-shadow: 0px 0px 7px 0px rgba(52, 152, 219, 1);
  /* margin: 2rem 0; */
  padding: 1rem 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease all;
}

.btn:hover, .sidebar-btn:hover {
  box-shadow: 0px 0px 12px 0px rgba(52, 152, 219, 1);
  transform: translateY(-5%);
}
.sidebar-btn {
  font-size: 1.2rem;

}
.btn.delete {
  border: none;
}
/* /////////////////////////// */
/* canvas */
/* /////////////////////////// */

.empty-gall-create{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-gall-create button {
  margin: 6rem auto;
  
 
}
.canvas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  /* background-color: yellow; */
  width: 90%;
  margin-left: auto;
  gap: 2rem;
  transition: 0.2s ease all;
 

}

.canvas-container.full,.galleries-title.full {
  width: 100%;
  transition: 0.2s ease all;

}

.galleries-title {
  width: 90%;
  margin-left:auto;
  transition: 0.2s ease all;

}
.canvas-item {
  width: 25%;
  min-width: 300px;
  margin: 2rem 0;
  padding: 1.5rem;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 7px 0px rgba(52, 152, 219, 1);

  border-radius: 8px;
  background-color: #222222;
}
.canvas-title {
  font-size: 3rem;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 1.5rem;
}
.canvas-attribute {
  margin: 5px 0;
  font-size: 1.25rem;
}

.canvas-attribute span {
  text-transform: capitalize;
}
.canvas-link {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}
.canvas-link:hover {
  text-decoration: underline;
}

.ai-img {
  max-width: 100%;
  margin: auto;
  display: block;
}

    /* Welcome Container */
    .welcome-container {
      max-width: 80%;
      margin: 8rem auto;
      padding: 2rem;
      background-color: #222222;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0px 0px 7px 0px rgba(52, 152, 219, 1);
    }

    .welcome-container h1 {
      text-align: center;
      font-size: 3rem;
      color: #3498db;
      margin-bottom: 2rem;
      padding-top:0
    }

    .welcome-container p {
      font-size: 1.6rem;
      line-height: 2.5rem;
      margin-bottom: 2rem;
      color: #f2f2f2;
      text-align:  center;
    }

    .welcome-container ul {
      list-style-type: none;
      padding-left: 2rem;
      margin-bottom: 2rem;
      color: #f2f2f2;
    }

    .welcome-container ul li {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }

    .welcome-container ul li strong {
      color: #3498db;
      font-size: 1.65rem;
    }

/* MEDIA QUIERIES */

@media (min-width: 768px) {
  .navbar .title {
    font-size: 3rem;
  }
  .nav-link {
    font-size: 1.6rem;
  }

  .show-container.edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
