<%- include('../partials/meta.ejs') %>
  
    <section id="landing">
        <div class="bg"></div>
        <div class="text">
            <h1 class="title">Artistry AI: Unleashing Creativity through Technology</h1>
<p class="description">At Artistry AI, our mission is to empower every individual to become an artist by harnessing the power of artificial intelligence. We believe that creativity should have no boundaries and that everyone deserves to express their unique vision. Through our innovative platform, users can create one-of-a-kind AI-generated artworks, transforming their imaginative ideas into beautiful pieces of art. Our goal is to cultivate a vibrant community where technology and creativity merge, enabling users to build and showcase their personalized art collections in a stunning, user-friendly gallery. Join us in redefining the art experience and unleashing your creative potential with Artistry AI.
</p>
        </div>

    </section>
</body>
</html>