<%- include('../partials/meta.ejs') %>
<h1 class="h1 new-view">Create a new artwork!</h1>

    <form action="/canvases/new" method="POST">
<%- include('../partials/form.ejs') %>
    
        <button type="submit" value="Submit">Create Your Artwork!</button>
    </form>
    </body>

    </html>